<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"> Title</title>
</head>
<body>
<div th:object="${userDto}">
    <table>
        <tr>
            <td th:text="*{name}">1</td>
        </tr>
        <tr>
            <td th:text="*{age}">2</td>
        </tr>
        <tr>
            <td th:text="*{sex}">3</td>
        </tr>
        <tr>
            <a herf="index" th:href="@{/log/savewithParms(name=${userDto.name})}">hhh</a>
        </tr>
        <tr>
            <td th:if="${userDto.name!=null}">login</td>
            <td th:if="${userDto.name==null}">succes</td>
        </tr>
    </table>

</div>
<h1 th:text="${desc}">111</h1>
<b th:text="${desc}"></b>

</body>
</html>